@import '../../styles/constants.css';

.main-div {
    margin: 10px;
}

.orderinfodiv, .customerinfodiv, .productinfodiv, .costinfodiv, .invoiceinfodiv, .companyinfodiv {
    display: flex;
    margin: 10px;
    border-radius: var(--stdborderradius);
    background-color: var(--navbarcolor);
    padding: 20px;
    font-size: var(--stdfontsize);
    max-width: 1200px;
    align-content: space-between;
}

.orderinfosubdiv, .costinfosubdiv, .invoiceinfosubdiv {
    margin: 10px;
}

.orderlineformdiv, .costlineformdiv, .invoicelineformdiv {
    margin: 10px;
    border-radius: var(--stdborderradius);
    background-color: var(--navbarcolor);
    padding: 20px;
    font-size: var(--stdfontsize);
    max-width: 1200px;
}

.list-table {
    border-collapse: collapse;
    border-spacing: 0;
}

.list-table tr {
    border-bottom: 1em solid transparent;
    /* padding: 5px; */
    border-radius: 10px;
}

.list-table td {
    text-align: center;
    border-right: 1em solid transparent;
    border-left: 1em solid transparent;
}

.list-table tr:hover{
    cursor: pointer;
    box-shadow: 0 0 0 2px var(--navbarcolor)
}

.orderlinediv, .costlinediv, .invoicelinediv {
    margin-top: 10px;
}

#orderlineform, #costlineform, #invoicelineform {
    margin-top: 10px;
    max-width: 100%;
    font-size: var(--smallfontsize);
}

#orderlineform, #costlineform, #invoicelineform div {
    display: inline-block;
    width: auto;
}

#orderlineform, #costlineform, #invoicelineform label {
    display: block;
    width: auto;
}

#orderlineform, #costlineform, #invoicelineform input {
    /* display: block; */
    width: auto;
    font-size: var(--smallfontsize);
}

#orderlineform, #costlineform, #invoicelineform select {
    display: block;
    width: auto;
    font-size: var(--smallfontsize);
}

#accountPlanDiv {
    margin-left: 50px;
    /* margin-top: 10px; */
    /* max-height: 300px; */
    overflow-y: auto;
    border: 1px solid var(--stdbordercolor);
    border-radius: var(--stdborderradius);
    padding: 10px;
}

.clickable:hover{ 
    cursor: pointer;
}