:root {
    --left-margin: 15mm;
    --right-margin: 15mm;
    --top-margin: 10mm;
    --bottom-margin: 10mm;
    --info-top-position: 50mm;
    --invtext-top-position: 80mm;
    --table-top-position: 100mm;
    --payment-top-position: 220mm;
    --footer-top-position: 270mm;
    --page-height: 297mm;
    --page-width: 210mm;
}

.grid-container {
    display: grid;
    height: var(--page-height);
    width: var(--page-width);
    grid-template-areas:
        ". . . . ."
        ". header header header ."
        ". . . . ."
        ". customer . info ."
        ". . . . ."
        ". invtext invtext invtext ."
        ". . . . ."
        ". table table table ."
        ". . . . ."
        ". payment payment payment ."
        ". . . . ."
        ". footer footer footer ."
        ". . . . .";
    grid-template-columns: var(--left-margin) 3fr 1fr 3fr var(--right-margin);
/*                             marg     header     info    tekst    linjer  betinfo    foot    marg     */
    grid-template-rows: var(--top-margin) 30mm 5mm 25mm 10mm 15mm 5mm auto 5mm 40mm 5mm 20mm var(--bottom-margin);
}

.grid-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.grid-customer {
    grid-area: customer;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 10mm 8mm 8mm;
}

.grid-info {
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 8mm);
    justify-items: end;
}

.grid-invtext {
    grid-area: invtext;
}

.grid-table {
    grid-area: table;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(10mm, 15mm));
}

.grid-payment {
    grid-area: payment;
    display: grid;
    border: 5px solid black;
    border-radius: 5px;
    margin: 0mm 15mm;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10mm 10mm 10mm;
}

.grid-payment h2 {
    grid-column: 1 / 5;
    grid-row: 1;
    font-weight: 900;
}

.grid-footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20mm;
}